{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
    


</head>
    <div  class="main">
        <span class="menu">
            <a class="about" href="{% url 'home' %}">HOME</a>
            <a class="about" href="{% url 'about' %}">ABOUT</a>
            <a class="about" href="{% url 'joblist' %}">JOBS</a>
            <a class="about" href="{% url 'talent' %}">TALENTS</a>
            <a class="about" href="{% url 'contact' %}">CONTACT</a>   
        </span>
    
    
    
    
        <form class="form" method="post" >
            {% csrf_token %}
            <p class="title">Register </p>
            <p class="message">Signup now and get full access to our app. </p>
                <div class="flex">
                <label id="Firstname">
                    <input name="username" required="" placeholder="" type="text" class="input" >
                    <span>Firstname</span>
                </label>
        
                <label id="Lastname">
                    <input name="last_name" required="" placeholder="" type="text" class="input"  >
                    <span>Lastname</span>
                </label>
            </div>  
                    
            <label id="email">
                <input name="email" required="" placeholder="" type="email" class="input" >
                <span>Email</span>
            </label> 
                
            <label>
                <input name="password1" required="" placeholder="" type="password" class="input"  >
                <span>Password</span>
            </label>
            <label>
                <input  name="password2" required="" placeholder="" type="password" class="input" >
                <span>Confirm password</span>
            </label>
            <button class="submit">Submit</button>
            <p class="signin">Already have an acount ? <a  id="signIn_btn" href="{% url 'login' %}">Sign in</a> </p>
            {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
        </form>
    </div>
</body>
</html>