{% extends 'base.html' %}
    {% block content %}
    <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">My saved posts</h1>

    {% for i in job %}
    <div class="job-item p-4 mb-4">
        <div class="row g-4">
            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid border rounded" src="{{ i.job.img.url }}" alt="" style="width: 80px; height: 80px;">
                <div class="text-start ps-4">
                    <h5 class="mb-3">{{ i.job.proff }}</h5>
                    <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ i.job.location }}</span>
                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{ i.job.jobtime }}</span>
                    <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>${{ i.job.min_salary }} - ${{ i.job.max_salary }}</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                <div class="d-flex mb-3">
                    {% if user.is_authenticated %}
                    <a  class="btn btn-light btn-square me-3" href="{% url 'like' i.job.id %}">{{ i.job.likes }}&nbsp;&nbsp;&nbsp;<i class="far fa-heart text-primary"></i></a>
                    <a class="btn btn-primary" href="{% url 'saves' i.job.id %}">Delete</a>&nbsp;
                    {% else %}
                    <a  class="btn btn-light btn-square me-3" href="{% url 'login' %}">{{ i.job.likes }}&nbsp;&nbsp;&nbsp;<i class="far fa-heart text-primary"></i></a>
                    {% endif %}
                    <a class="btn btn-primary" href="{% url 'detail' i.job.id %}">Apply Now</a>
                </div>
                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: {{ i.job.dt }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}