{% extends 'base.html' %}
    {% block content %}

        <!-- Job Detail End -->
        <!-- Job Detail Start -->
        {% for i in subtalent %}
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row gy-5 gx-4">
                    <div class="col-lg-8">
                        <div class="d-flex align-items-center mb-5">
                            <img class="flex-shrink-0 img-fluid border rounded" src="{{ i.img.url }}" alt="" style="width: 80px; height: 80px;">
                            <div class="text-start ps-4">
                                <h3 class="mb-3">{{ i.name }}</h3>
                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ i.address }}</span>
                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{ i.jobtime }}</span>
                                <span class="text-truncate me-0"><i ></i> {{ i.rank }}  {{ i.prof }}</span>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h4 class="mb-3"></h4>
                            <h4 class="mb-3">Coverlatter</h4>
                            <p>{{ i.coverlatter|safe }}</p>
                            <h4 class="mb-3">Summary</h4>
                            <p>{{ i.summery|safe }}</p>
                        </div>
                    </div>
        
                    <div class="col-lg-4">
                        <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="mb-4">Email</h4>
                            {{ i.email }}
                        </div>
                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="mb-4">Skills</h4>
                            <p class="m-0">{{ i.skill|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endblock %}